* {
  margin: 0;
  padding-top: 0;
  background-color: #cb8589;
}
h1 {
  text-align: center;
}

.options {
  height: 50vmin;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: xx-large;
  font-weight: bold;
  height: 30vmin;
  width: 30vmin;
  border-radius: 50px;
  background-color: #e8d2ae;
  color: black;
}
.choice:hover{
     background-color: #85accb;
}
.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding-top: 0;
  gap: 7rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
}
 

.msg-container {
    margin-top: 5rem;
    width: 212vmin;
    display:  flex;
    justify-content: center;
    align-items: center;
  }
  
  #msg {
    background-color: #e8d2ae;
     
    font-size: 2rem;
   
    padding: 1rem;
    border-radius: 1rem;
    
  }
  