*{
    margin: 0;
    padding: 0;
    background-color: #cb8589;
    
}
h1{
    text-align: center;
}

.options{
    height: 50vmin;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    
    
}
.choice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: xx-large;
    font-weight: bold;
    height: 30vmin;
    width: 30vmin;
    border-radius: 50px;
    background-color: #e8d2ae;
    color: black;
}

.new{
    height: 30vmin;
    width: 30vmin;
    background-color: #e8d2ae;
    color: black;
    border-radius: 20px;
}